/* Imports */

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff');
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 500;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

.first_01{
    margin-top: -50px;
}

.title_01{
    color: white;
    font-family: 'Netflix Sans';
    font-size: 1.7rem;
}

.box_01{
    background-color: #a70099;
    margin-top: -3px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.card_01{
    width: 15rem;
    object-fit: cover;
    height: 350px;
    border-radius: 0;
}

.star{
    margin-top: -5px;
    margin-left: 5px;
}

.title_02{
    font-size: 15px;
}

.card-body{
width: 100%;
height: 100%;
top: 0;
right: 0;
position: absolute;
background: #0d0d0ea4;
color: white;
padding: 30px;
font-family: 'Netflix Sans';
display: flex;
flex-direction: column;
justify-content: end;
visibility: hidden;
opacity: 0;
transition: all 0.3s ease-in-out;
}

.movie-card:hover .card-body {
  visibility: visible;
  opacity: 1;
}

.year{
    font-size: 13px;
}

.card_button01{
    width: 40%;
    height: 30%;
    background-color: red;
    border: 0;
    margin-top: 10px;
    border-radius: 5%;
}

.card_button01:hover{
    background-color: rgb(189, 4, 4);
}
